 <app-header />
 <main>
    <ul id="user">
        <li>
            <app-user [id]="userList[0].id" [avatar]="userList[0].avatar" [name]="userList[0].name" (select)="onselectUser($event)"/>
        </li>
        <li>
            <app-user [id]="userList[1].id" [avatar]="userList[1].avatar" [name]="userList[1].name" (select)="onselectUser($event)"/>
        </li>
        <li>
            <app-user [id]="userList[2].id" [avatar]="userList[2].avatar" [name]="userList[2].name" (select)="onselectUser($event)"/>
        </li>
        <li>
            <app-user [id]="userList[3].id" [avatar]="userList[3].avatar" [name]="userList[3].name" (select)="onselectUser($event)"/>
        </li>
        <li>
            <app-user [id]="userList[4].id" [avatar]="userList[4].avatar" [name]="userList[4].name" (select)="onselectUser($event)"/>
        </li>
    </ul>
 </main>