header {
  text-align: center;
  margin: 3rem auto;
  margin-top: 0.5rem;
  margin-bottom: auto;
}

header img {
  width: 5rem;
  height: 5rem;
  object-fit: contain;
  background-color: transparent;
  margin-top: 1rem;
}

header h1 {
  font-size: 1.5rem;
  color: rgb(78, 128, 129);
}